<!-- This file is responsible for executing swap token -->
<template lang="html">
  <div>
    <div>
      <v-btn
        block
        outlined
        class="btn-border rounded-lg confirm-btn"
        @click="confirmSwap"
      >
        <div>Confirm Swap</div>
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: "ConfirmSwap",
  props: {
    tokenValue: { type: Number, default: null },
    spAUD: { type: Number, default: null }
  },
  methods: {
    confirmSwap() {
      // process swap token here
      console.log("Process swap token");
    }
  }
};
</script>
