<!-- This file is responsible for executing issue token -->
<template lang="html">
  <div>
    <div>
      <v-btn
        block
        outlined
        class="btn-border rounded-lg confirm-btn"
        @click="confirmIssue"
      >
        <div>Confirm Issue</div>
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: "ConfirmIssue",
  props: {
    tokenValue: { type: Number, default: null },
    spAUD: { type: Number, default: null }
  },
  methods: {
    confirmIssue() {
      // process issue token here
      console.log("Process Issue token");
    }
  }
};
</script>
