<!-- This file is responsible for executing redeem token -->
<template lang="html">
  <div>
    <div>
      <v-btn
        block
        outlined
        class="btn-border rounded-lg confirm-btn"
        @click="confirmRedeem"
      >
        <div>Confirm Redeem</div>
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: "ConfirmRedeem",
  props: {
    tokenValue: { type: Number, default: null },
    spAUD: { type: Number, default: null }
  },
  methods: {
    confirmRedeem() {
      // process redeem token here
      console.log("Process redeem token");
    }
  }
};
</script>
