<!-- Body section in Trade Page, includes the basic layout-->
<template lang="html">
  <div>
    <v-card
      flat
      rounded="lg"
      class="mx-auto card-dimention"
      justify="center"
      align="center"
    >
      <!-- import Trade function from components -->

      <v-container fluid>
        <v-toolbar flat color="transparent" class="toolbar_default">
          <v-toolbar-title>
            {{ tradeFunctionality.toUpperCase() }}
          </v-toolbar-title>
        </v-toolbar>

        <TradePage @EventTradeInputChanged="tradeInput" />

        <div class="connect-wallet-card-position">
          <!-- add if statement here -->

          <!-- show confirm btn if the wallet is connected -->
          <div
            v-if="tradeFunctionality === 'Issue' && $store.state.user_connected"
          >
            <ConfirmIssue :token-value="tokenValue" :spAUD="spAUDValue" />
          </div>

          <div
            v-else-if="
              tradeFunctionality === 'Swap' && $store.state.user_connected
            "
          >
            <ConfirmSwap :token-value="tokenValue" :spAUD="spAUDValue" />
          </div>
          <div
            v-else-if="
              tradeFunctionality === 'Redeem' && $store.state.user_connected
            "
          >
            <ConfirmRedeem :token-value="tokenValue" :spAUD="spAUDValue" />
          </div>
          <ConnectWallet
            v-else
            class="rounded-lg"
            style="height: 60px; font-size: 20px"
          />
        </div>
      </v-container>
    </v-card>

    <TradeDetailsDropdown v-if="tokenValue" />
  </div>
</template>

<script>
import ConnectWallet from "@/components/ConnectWallet.vue";
import ConfirmIssue from "@/components/Trade/ConfirmIssueBtn";
import ConfirmSwap from "@/components/Trade/ConfirmSwapBtn";
import ConfirmRedeem from "@/components/Trade/ConfirmRedeemBtn";

import TradePage from "@/components/Trade/TradePage";
import TradeDetailsDropdown from "@/components/Trade/TradeDetailsDropdown";

export default {
  name: "TradeBody",
  components: {
    TradePage,
    TradeDetailsDropdown,
    ConnectWallet,
    ConfirmIssue,
    ConfirmSwap,
    ConfirmRedeem
  },
  props: { tradeFunctionality: { type: String, default: "ISSUE" } },
  data() {
    return {
      tokenValue: 0.0,
      spAUDValue: 0.0
    };
  },
  methods: {
    tradeInput(data) {
      this.tokenValue = data.tokenValue;
      this.spAUDValue = data.spAUDValue;
    }
  }
};
</script>
