<template lang="html">
  <v-container class="input-container">
    <!-- Input field for token -->
    <TokeninputPanel
      :token-value="tokenValue"
      @EventTokenInputChanged="tokenInput"
    />

    <!-- Switches the input value from token to spAUD, recalculates the spAUD
     value -->
    <v-btn class="ma-2 switch-btn" outlined fab small @click="swapInputContent">
      <v-icon>mdi-arrow-down</v-icon>
    </v-btn>

    <!-- Input field for stablecoin token -->
    <SpAUDinputPanel :spAUD="spAUDValue" @EventspAUDInputChanged="spAUDInput" />
  </v-container>
</template>

<script>
import SpAUDinputPanel from "@/components/SpAUDinputPanel";
import TokeninputPanel from "@/components/TokeninputPanel";

export default {
  name: "TradePage",
  components: {
    SpAUDinputPanel,
    TokeninputPanel
  },
  data() {
    return {
      first: "0.0",
      last: "0.0",
      overlay: false,
      tokenValue: null,
      spAUDValue: null
    };
  },

  methods: {
    tokenInput(data) {
      this.tokenValue = data;
      // this is dummy calculation
      this.spAUDValue = data * 0.995;
      this.$emit("EventTradeInputChanged", {
        tokenValue: this.tokenValue,
        spAUDValue: this.spAUDValue
      });
    },
    spAUDInput(data) {
      this.spAUDValue = data;
      // this is dummy calculation
      this.tokenValue = data * 1.005;
      this.$emit("EventTradeInputChanged", {
        tokenValue: this.tokenValue,
        spAUDValue: this.spAUDValue
      });
    },
    swapInputContent() {
      this.tokenValue = this.spAUDValue;
      // this is dummy calculation
      this.spAUDValue = this.tokenValue * 0.995;

      this.$emit("EventTradeInputChanged", {
        tokenValue: this.tokenValue,
        spAUDValue: this.spAUDValue
      });
    }
  }
};
</script>
