<!-- Drop down card in Trade page, displayed when user makes an input -->

<template>
  <v-card
    flat
    rounded="lg"
    justify="center"
    align="center"
    class="details-dropdown"
  >
    <v-expansion-panels flat class="details-dropdown-panel">
      <v-expansion-panel>
        <v-expansion-panel-header>
          Details
          <template #actions>
            <v-icon color="#537A5A">$expand</v-icon>
          </template>
        </v-expansion-panel-header>
        <!--
       Data iterators,
       ref:https://vuetifyjs.com/zh-Hans/components/data-iterators/
     -->
        <v-expansion-panel-content>
          <v-data-iterator
            :items="items"
            :items-per-page.sync="itemsPerPage"
            hide-default-footer
          >
            <template #default="props">
              <v-row>
                <v-col v-for="item in props.items" :key="item.name">
                  <v-list dense>
                    <v-list-item>
                      <v-list-item-content>
                        Minimum received:
                      </v-list-item-content>
                      <v-list-item-content class="align-end">
                        {{ item.minimumReceived }}
                      </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                      <v-list-item-content>Price impact:</v-list-item-content>
                      <v-list-item-content class="align-end">
                        {{ item.priceImpact }}
                      </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                      <v-list-item-content>
                        Liquidity provider fee:
                      </v-list-item-content>
                      <v-list-item-content class="align-end">
                        {{ item.liquidityProviderFee }}
                      </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                      <v-list-item-content>Route:</v-list-item-content>
                      <v-list-item-content class="align-end">
                        {{ item.tokenUp }} > {{ item.tokenMiddle }} >
                        {{ item.tokenDown }}
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-col>
              </v-row>
            </template>
          </v-data-iterator>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-card>
</template>

<script>
export default {
  name: "TradeDetailsDropdown",
  data: () => ({
    itemsPerPage: 1,
    items: [
      {
        name: "Minimum received",
        minimumReceived: "100ETH*3906" + " spAUD",
        priceImpact: "0.03" + "%",
        liquidityProviderFee: "5.991 " + "MATIC",
        tokenUp: "WMATIC",
        tokenMiddle: "USDC",
        tokenDown: "DAI"
      }
    ]
  })
};
</script>

<style scoped>
.v-list-item {
  min-height: 0px !important;
}
.v-list-item__content {
  font-size: 12px;
  font-weight: 700 !important;
  padding: 3px !important;
  letter-spacing: 0.95px;
}
</style>
