<template>
  <!--
  Vuetify_Overlays_#Z index
  https://vuetifyjs.com/en/components/overlays/
 -->
  <v-row justify="center">
    <!--
       from Vuetify_Dialogs
       ref:https://vuetifyjs.com/zh-Hans/components/dialogs/
       -->
    <v-dialog v-model="dialog" scrollable max-width="300px">
      <template v-slot:activator="{ on, attrs }">
        <div class="connect-wallet-card-position">
          <v-btn v-bind="attrs" v-on="on">Connect Wallet</v-btn>
        </div>
      </template>
      <v-card>
        <v-card-title>Connect to a wallet</v-card-title>

        <!--
          todo: insert search bar

         -->

        <v-divider></v-divider>
        <v-card-text style="height: 200px">
          <v-radio-group v-model="dialogm1" column>
            <v-radio label="Metamask" value="metamask"></v-radio>
            <v-radio label="WalletConnect" value="walletconnect"></v-radio>
            <v-radio label="Coinbase Wallet" value="coinbasewallet"></v-radio>
            <v-radio label="Fortmatic" value="fortmatic"></v-radio>
            <v-radio label="Portis" value="portis"></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Close
          </v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  name: "TradeConnectWallet",
  data() {
    return {
      dialog: false,
      dialogm1: null
    };
  }
};
</script>

<style scoped></style>
