<!-- Include burn input features -->
<template lang="html">
  <v-container class="input-container">
    <!-- Input field for volatility token -->
    <BurnspVOLinputPanel
      :spVOL="spVOLValue"
      @EventspVOLInputChanged="spVOLInput"
    />

    <!-- Switches the input value from spAUD to spVOL, recalculates the  spAUD
     value -->
    <v-btn class="ma-2 switch-btn" outlined fab small @click="swapInputContent">
      <v-icon>mdi-arrow-down</v-icon>
    </v-btn>

    <!-- Input field for stablecoin token -->
    <SpAUDinputPanel :spAUD="spAUDValue" @EventspAUDInputChanged="spAUDInput" />
  </v-container>
</template>

<script>
import BurnspVOLinputPanel from "@/components/Burn/BurnspVOLinputPanel";
import SpAUDinputPanel from "@/components/SpAUDinputPanel";

export default {
  name: "BurnPage",
  components: {
    BurnspVOLinputPanel,
    SpAUDinputPanel
  },
  data() {
    return {
      overlay: false,
      spVOLValue: null,
      spAUDValue: null
    };
  },

  methods: {
    spVOLInput(data) {
      this.spVOLValue = data;
      // this is dummy calculation
      this.spAUDValue = data * 1.005;

      this.$emit("EventBurnInputChanged", {
        spVOLValue: this.spVOLValue,
        spAUDValue: this.spAUDValue
      });
    },
    spAUDInput(data) {
      this.spAUDValue = data;
      // this is dummy calculation
      this.spVOLValue = data * 0.995;
      this.$emit("EventBurnInputChanged", {
        spVOLValue: this.spVOLValue,
        spAUDValue: this.spAUDValue
      });
    },
    swapInputContent() {
      this.spVOLValue = this.spAUDValue;
      // this is dummy calculation
      this.spAUDValue = this.spVOLValue * 0.995;

      this.$emit("EventBurnInputChanged", {
        spVOLValue: this.spVOLValue,
        spAUDValue: this.spAUDValue
      });
    }
  }
};
</script>

<style></style>
