<!-- Input field responsible for spVOL value -->
<template lang="html">
  <div>
    <v-card flat class="rounded-lg border">
      <!-- From (spVOL input here)-->
      <v-card-actions class="input-card-actions">
        <v-text-field
          v-model.number="numberValue"
          class="input-position"
          data-test="spVOLInput"
          align="left"
          placeholder="0.0"
          label="From"
          color="#041a2f"
          type="number"
          :rules="priceRules"
          min="0"
          onkeydown="return event.keyCode !== 69 && event.keyCode !== 189"
          @input="emitspVOLValue"
        ></v-text-field>

        <!-- volatility token isn't selectable unlike other input field -->
        <div>
          <v-btn
            rounded
            class="token-btn btn-border"
            align="left"
            outlined
            disabled
          >
            <v-row align="center">
              <v-col md="auto" style="padding: 0px">
                <v-avatar size="18">
                  <img src="@/assets/images/spendie.png" alt="spAUD" />
                </v-avatar>
              </v-col>
              <v-col style="padding: 0px">
                <span>spVOL</span>
              </v-col>
            </v-row>
          </v-btn>
          <div class="balance">BALANCE: 0</div>
        </div>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "BurnspVOLinputPanel",
  props: { spVOL: { type: Number, default: null } },
  data() {
    return {
      selectedIssue: "ETH",
      dialog: false,
      numberValue: null,
      priceRules: [
        (v) => !!v || "Input is required",
        (v) => (v && v > 0) || "Input must be positive"
      ]
    };
  },
  watch: {
    spVOL(newVal) {
      // update input field when switch button is clicked
      this.numberValue = newVal;
    }
  },
  created() {
    this.numberValue = this.spVOL;
  },

  methods: {
    emitspVOLValue() {
      this.$emit("EventspVOLInputChanged", this.numberValue);
    }
  }
};
</script>
<style scoped>
/* # remove the text-transform: uppercase */
.v-btn {
  text-transform: none;
}

.theme--light.v-btn.v-btn--disabled {
  color: rgba(0, 0, 0, 0.5) !important;
}
</style>
