<!-- Body section in Burn Page, includes the basic layout-->
<template lang="html">
  <div>
    <v-card
      flat
      rounded="lg"
      class="mx-auto card-dimention"
      justify="center"
      align="center"
    >
      <!-- import Burn function from components -->

      <v-container fluid>
        <div>
          <v-toolbar flat color="transparent" class="toolbar_default">
            <v-toolbar-title>BURN</v-toolbar-title>
          </v-toolbar>

          <BurnPage @EventBurnInputChanged="burnInput" />
          <div class="connect-wallet-card-position">
            <!-- connect or confirm button here -->
            <ConfirmBurn
              v-if="$store.state.user_connected"
              :spVOL="spVOLValue"
              :spAUD="spAUDValue"
            />
            <ConnectWallet
              v-else
              class="rounded-lg"
              style="height: 60px; font-size: 20px"
            />
          </div>
        </div>
      </v-container>
    </v-card>
    <BurnDetailsDropdown v-if="spVOLValue" />
  </div>
</template>

<script>
import BurnPage from "@/components/Burn/BurnPage";
import ConfirmBurn from "@/components/Burn/ConfirmBurnBtn";
import ConnectWallet from "@/components/ConnectWallet";
import BurnDetailsDropdown from "@/components/Burn/BurnDetailsDropdown";

export default {
  name: "BurnBody",
  components: {
    BurnPage,
    ConfirmBurn,
    ConnectWallet,
    BurnDetailsDropdown
  },
  data() {
    return {
      spVOLValue: 0.0,
      spAUD: 0.0
    };
  },
  methods: {
    burnInput(data) {
      this.spVOLValue = data.spVOLValue;
      this.spAUDValue = data.spAUDValue;
    }
  }
};
</script>

<style lang="less"></style>
