<!-- Confirm button responsible for executing burning spVOL token -->
<template lang="html">
  <div>
    <div>
      <v-btn
        block
        outlined
        class="btn-border rounded-lg confirm-btn"
        @click="confirmBurn"
      >
        <div>Confirm Burn</div>
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: "ConfirmBurn",
  props: {
    spVOL: { type: Number, default: null },
    spAUD: { type: Number, default: null }
  },
  methods: {
    confirmBurn() {
      // process burn token here
      console.log("Process burning token");
    }
  }
};
</script>

<style></style>
