<template lang="html">
  <v-card flat rounded="lg" class="mx-auto card-dimention no-top-margin">
    <!-- Card header -->
    <v-card-title class="justify-center">
      <v-avatar size="38px" style="margin-left: auto">
        <img
          :src="require('@/assets/images/' + selectedBorrow.tokenSrc)"
          :alt="selectedBorrow.tokenName"
        />
      </v-avatar>
      <div style="margin-left: 16px">{{ selectedBorrow.tokenName }}</div>
      <!-- Close button -->
      <div style="margin-left: auto">
        <v-btn icon data-test="closeModal" @click="emitClose">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
    </v-card-title>
    <v-divider></v-divider>

    <!-- Input section -->
    <v-card flat class="loan-modal mx-auto">
      <v-card-actions class="loan-modal-input">
        <v-card flat style="margin-left: auto" class="rounded-lg border">
          <v-card-actions class="input-card-actions">
            <v-text-field
              v-model.number="borrowValue"
              class="loan-modal-input no-underline"
              data-test="borrowInput"
              align="left"
              name="borrowValue"
              placeholder="0.0"
              color="#041a2f"
              type="number"
              background-color="transparent"
              style="font-size: 30px"
              min="0"
              onkeydown="return event.keyCode !== 69 && event.keyCode !== 189"
              @input="limitInputChanged"
            ></v-text-field>
          </v-card-actions>
        </v-card>
        <div class="limit-btn">
          <a data-test="maxBtn" @click="clickLimit">80% Limit</a>
        </div>
      </v-card-actions>
      <!-- slider feature here -->
      <v-row>
        <v-col class="pr-4" style="max-width: 420px; margin-left: auto">
          <v-slider
            v-model="slider"
            class="align-center"
            :max="max"
            :min="min"
            hide-details
            color="#537a5a"
            track-color="#041a2f"
            @change="limitSliderChanged"
          >
            <template #append>
              <v-text-field
                v-model="slider"
                class="mt-0 pt-0"
                hide-details
                single-line
                type="number"
                style="width: 45px"
                suffix="%"
                color="#041a2f"
              ></v-text-field>
            </template>
          </v-slider>
        </v-col>
      </v-row>
    </v-card>
    <v-divider></v-divider>

    <!-- selecting borrow and repay -->
    <v-card flat class="mx-auto loan-modal no-top-margin">
      <v-tabs
        v-model="borrowTab"
        centered
        background-color="transparent"
        color="#537a5a"
      >
        <v-tab>Borrow</v-tab>
        <v-tab>Repay</v-tab>
      </v-tabs>
      <v-list dense>
        <!-- Borrow Rates -->
        <v-list-item class="loan-modal-list">
          <v-list-item-content>Borrow Rates</v-list-item-content>
          <v-list-item-action>{{ selectedBorrow.rate }} %</v-list-item-action>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item class="loan-modal-list">
          <v-list-item-content>Borrow Limit</v-list-item-content>
          <v-list-item-action>{{ selectedBorrow.limit }}</v-list-item-action>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item class="loan-modal-list">
          <v-list-item-content>Stability Fee(APY)</v-list-item-content>
          <v-list-item-action>{{ selectedBorrow.apy }} %</v-list-item-action>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item class="loan-modal-list">
          <v-list-item-content>Current Loan</v-list-item-content>
          <v-list-item-action>
            {{ selectedBorrow.loan }} {{ selectedBorrow.tokenCurrency }}
          </v-list-item-action>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item class="loan-modal-list">
          <v-list-item-content>Borrow Limit Used</v-list-item-content>
          <v-list-item-action>
            {{ selectedBorrow.limitUsed }} %
          </v-list-item-action>
        </v-list-item>
        <v-divider></v-divider>

        <v-list-item class="loan-modal-list">
          <v-list-item-content>Wallet Balance</v-list-item-content>
          <v-list-item-action>
            {{ selectedBorrow.wallet }} {{ selectedBorrow.tokenCurrency }}
          </v-list-item-action>
        </v-list-item>
      </v-list>
      <v-tabs-items v-model="borrowTab">
        <v-tab-item class="mx-auto">
          <v-btn
            v-if="$store.state.user_connected"
            outlined
            class="btn-border rounded-lg confirm-btn"
          >
            Confirm Borrow
          </v-btn>
          <ConnectWallet
            v-else
            class="rounded-lg"
            style="height: 60px; font-size: 20px"
          />
        </v-tab-item>
        <v-tab-item class="mx-auto">
          <v-btn
            v-if="$store.state.user_connected"
            outlined
            class="btn-border rounded-lg confirm-btn"
          >
            Confirm Repay
          </v-btn>
          <ConnectWallet
            v-else
            class="rounded-lg"
            style="height: 60px; font-size: 20px"
          />
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-card>
</template>

<script>
export default {
  name: "AssetToBorrowModal",
  props: {
    selectedBorrow: { type: Object, default: () => ({}) },
    dialog: { type: Boolean, default: false }
  },
  data() {
    return {
      borrowTab: null,
      borrowValue: null,
      min: 0,
      max: 80,
      slider: 0
    };
  },
  methods: {
    emitClose() {
      const closeDialog = false;
      this.$emit("EventDialogClose", closeDialog);
    },
    clickLimit() {
      this.slider = this.max;
      this.borrowValue = 0.01 * this.max * this.selectedBorrow.limit;
    },
    limitInputChanged() {
      this.slider = (this.borrowValue / this.selectedBorrow.limit) * 100;
    },
    limitSliderChanged() {
      this.borrowValue = this.selectedBorrow.limit * this.slider * 0.01;
    }
  }
};
</script>

<style scoped>
a {
  color: #537a5a !important;
}
</style>
