<template lang="html">
  <!-- This file is responsible for executing issue token -->
  <v-container class="token-table">
    <v-switch
      v-model="hide0Balance"
      inset
      dense
      style="margin: auto"
      color="#537a5a"
      label="Show positive balance only"
      data-test="filterSwitch"
    ></v-switch>

    <!-- displays list supply tokens here -->
    <v-data-table
      :headers="headers"
      :items="filteredTokens"
      :hide-default-footer="true"
      :sort-by="tokens.tokenName"
      class="row-height-50 loan-table-header"
      mobile-breakpoint="0"
      dense
      data-test="supplyList"
      @click:row="onClickAsset"
    >
      <template #[`item.tokenName`]="{ item }">
        <v-row align="center" class="custom-row">
          <v-avatar class="avatar-size">
            <img
              :src="require('@/assets/images/' + item.tokenSrc)"
              :alt="item.tokenName"
            />
          </v-avatar>
          <div class="token-list">{{ item.tokenName }}</div>
        </v-row>
      </template>
      <template #[`item.apy`]="{ item }">{{ item.apy.toFixed(2) }} %</template>
      <template #[`item.deposit`]="{ item }">
        {{ item.deposit }} {{ item.tokenCurrency }}
        <div class="wallet-balance">
          <i style="font-weight: 200 !important">
            (Wallet Balance: {{ item.wallet }} {{ item.tokenCurrency }})
          </i>
        </div>
      </template>
    </v-data-table>

    <!-- modal pops up when user selects a token -->
    <v-dialog v-model="dialog" width="514px">
      <AssetToSupplyModal
        :selected-supply="selectedSupply"
        @EventDialogClose="closeDialog"
      />
    </v-dialog>
  </v-container>
</template>

<script>
import AssetToSupplyModal from "@/components/Loan/AssetToSupplyModal.vue";

export default {
  name: "AssetsToSupply",
  components: { AssetToSupplyModal },
  data() {
    return {
      hide0Balance: false,

      dialog: false,
      selectedSupply: "",
      headers: [
        {
          text: "Token",
          align: "start",
          sortable: true,
          value: "tokenName"
        },

        { text: "APY", value: "apy" },
        { text: "Supply Amount", value: "deposit" }
      ],
      tokens: []
    };
  },
  computed: {
    filteredTokens() {
      const filteredToken = [];
      if (this.hide0Balance) {
        for (let i = 0; i < this.tokens.length; i++) {
          if (this.tokens[i].wallet > 0) {
            filteredToken.push(this.tokens[i]);
          }
        }
        return filteredToken;
      }
      return this.tokens;
    }
  },
  created() {
    // fetch API here
    this.tokens = require("@/assets/dummyJSON/tokens.json");
  },
  methods: {
    onClickAsset(data) {
      this.dialog = true;
      this.selectedSupply = data;
    },
    closeDialog() {
      this.dialog = false;
    }
  }
};
</script>
