<template lang="html">
  <v-card flat rounded="lg" class="mx-auto card-dimention no-top-margin">
    <v-card-title class="justify-center">
      <v-avatar size="38px" style="margin-left: auto">
        <img
          :src="require('@/assets/images/' + selectedSupply.tokenSrc)"
          :alt="selectedSupply.tokenName"
        />
      </v-avatar>

      <div style="margin-left: 16px">{{ selectedSupply.tokenName }}</div>

      <div style="margin-left: auto">
        <v-btn icon data-test="closeModal" @click="emitClose">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
    </v-card-title>
    <v-divider></v-divider>
    <v-card flat class="mx-auto loan-modal">
      <v-card-actions class="loan-modal-input">
        <v-card flat style="margin-left: auto" class="rounded-lg border">
          <v-card-actions class="input-card-actions">
            <v-text-field
              v-model.number="tokenValue"
              class="loan-modal-input no-underline"
              data-test="tokenInput"
              align="left"
              name="tokenValue"
              placeholder="0.0"
              color="#041a2f"
              type="number"
              min="0"
              background-color="transparent"
              style="font-size: 30px"
              onkeydown="return event.keyCode !== 69 && event.keyCode !== 189"
              @input="limitInputChanged"
            ></v-text-field>
          </v-card-actions>
        </v-card>
        <!-- slider feature here -->
        <div class="limit-btn">
          <a data-test="maxBtn" @click="clickLimit">MAX</a>
        </div>
      </v-card-actions>
      <v-row>
        <v-col class="pr-4" style="max-width: 420px; margin-left: auto">
          <v-slider
            v-model="slider"
            class="align-center"
            :max="max"
            :min="min"
            hide-details
            color="#537a5a"
            track-color="#041a2f"
            @change="limitSliderChanged"
          >
            <template #append>
              <v-text-field
                v-model="slider"
                data-test="tokenSlider"
                class="mt-0 pt-0"
                hide-details
                single-line
                type="number"
                style="width: 45px"
                suffix="%"
                color="#041a2f"
              ></v-text-field>
            </template>
          </v-slider>
        </v-col>
      </v-row>
    </v-card>

    <v-divider></v-divider>
    <v-card flat class="mx-auto loan-modal no-top-margin">
      <v-tabs
        v-model="supplyTab"
        centered
        background-color="transparent"
        color="#537a5a"
      >
        <v-tab>Deposit</v-tab>
        <v-tab>Withdraw</v-tab>
      </v-tabs>
      <v-list dense>
        <v-list-item class="loan-modal-list">
          <v-list-item-content>Stability Fee(APY)</v-list-item-content>
          <v-list-item-action>{{ selectedSupply.apy }}%</v-list-item-action>
        </v-list-item>
        <v-divider></v-divider>

        <v-list-item class="loan-modal-list">
          <v-list-item-content>Deposit Balance</v-list-item-content>
          <v-list-item-action>
            {{ selectedSupply.deposit }} {{ selectedSupply.tokenCurrency }}
          </v-list-item-action>
        </v-list-item>
        <v-divider></v-divider>

        <v-list-item class="loan-modal-list">
          <v-list-item-content>Wallet Balance</v-list-item-content>
          <v-list-item-action>
            {{ selectedSupply.wallet }} {{ selectedSupply.tokenCurrency }}
          </v-list-item-action>
        </v-list-item>
      </v-list>
      <v-tabs-items v-model="supplyTab">
        <v-tab-item class="mx-auto">
          <v-btn
            v-if="$store.state.user_connected"
            outlined
            class="btn-border rounded-lg confirm-btn"
          >
            Confirm Deposit
          </v-btn>
          <ConnectWallet
            v-else
            class="rounded-lg"
            style="height: 60px; font-size: 20px"
          />
        </v-tab-item>
        <v-tab-item class="mx-auto">
          <v-btn
            v-if="$store.state.user_connected"
            outlined
            class="btn-border rounded-lg confirm-btn"
          >
            Confirm Withdraw
          </v-btn>
          <ConnectWallet
            v-else
            class="rounded-lg"
            style="height: 60px; font-size: 20px"
          />
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-card>
</template>

<script>
export default {
  name: "AssetToSupplyModal",
  props: {
    selectedSupply: { type: Object, default: () => ({}) },
    dialog: { type: Boolean, default: false }
  },
  data() {
    return { supplyTab: null, tokenValue: null, min: 0, max: 100, slider: 0 };
  },
  created() {
    // fetch API here
    this.tokenValue = "";
  },
  methods: {
    emitClose() {
      const closeDialog = false;
      this.$emit("EventDialogClose", closeDialog);
    },
    clickLimit() {
      this.slider = this.max;
      this.tokenValue = this.selectedSupply.wallet;
    },
    limitInputChanged() {
      this.slider = (this.tokenValue / this.selectedSupply.wallet) * 100;
    },
    limitSliderChanged() {
      this.tokenValue = this.selectedSupply.wallet * this.slider * 0.01;
    }
  }
};
</script>

<style scoped>
a {
  color: #537a5a !important;
}
</style>
