<template lang="html">
  <!-- This file is responsible for executing issue token -->
  <v-container class="token-table">
    <v-switch
      v-model="hide0Balance"
      inset
      dense
      style="margin: auto"
      color="#537a5a"
      label="Show Positive Balance Only "
      data-test="filterSwitch"
    ></v-switch>

    <!-- displays list borrow tokens here -->
    <v-data-table
      :headers="headers"
      :items="filteredTokens"
      :hide-default-footer="true"
      :sort-by="tokens.tokenName"
      class="row-height-50"
      mobile-breakpoint="0"
      data-test="borrowList"
      dense
      @click:row="onClickAsset"
    >
      <template #[`item.tokenName`]="{ item }">
        <v-row align="center" class="custom-row">
          <v-avatar class="avatar-size">
            <img
              :src="require('@/assets/images/' + item.tokenSrc)"
              :alt="item.tokenName"
            />
          </v-avatar>
          <div class="token-list">{{ item.tokenName }}</div>
        </v-row>
      </template>
      <template #[`item.apy`]="{ item }">{{ item.apy.toFixed(2) }} %</template>
      <template #[`item.wallet`]="{ item }">
        {{ item.wallet }} {{ item.tokenCurrency }}
      </template>
      <template #[`item.loan`]="{ item }">
        {{ item.loan }} {{ item.tokenCurrency }}
      </template>
    </v-data-table>

    <!-- modal pops up when user selects a token -->
    <v-dialog v-model="dialog" width="514px">
      <AssetToBorrowModal
        :selected-borrow="selectedBorrow"
        @EventDialogClose="closeDialog"
      />
    </v-dialog>
  </v-container>
</template>

<script>
import AssetToBorrowModal from "@/components/Loan/AssetToBorrowModal.vue";

export default {
  name: "AssetsToBorrow",
  components: { AssetToBorrowModal },
  data() {
    return {
      hide0Balance: false,

      dialog: false,
      selectedBorrow: "",
      headers: [
        {
          text: "Token",

          align: "start",
          sortable: true,
          value: "tokenName"
        },

        { text: "APY", value: "apy" },
        { text: "Wallet Bal.", value: "wallet" },
        { text: "Loan Bal.", value: "loan" }
      ],
      tokens: []
    };
  },
  computed: {
    filteredTokens() {
      const filteredToken = [];
      if (this.hide0Balance) {
        for (let i = 0; i < this.tokens.length; i++) {
          if (this.tokens[i].wallet > 0) {
            filteredToken.push(this.tokens[i]);
          }
        }
        return filteredToken;
      }
      return this.tokens;
    }
  },
  created() {
    // fetch API here
    this.tokens = require("@/assets/dummyJSON/stablecoins.json");
  },
  methods: {
    onClickAsset(data) {
      this.dialog = true;
      this.selectedBorrow = data;
    },
    closeDialog() {
      this.dialog = false;
    }
  }
};
</script>
