<template lang="html">
  <div>
    <BurnBody />
  </div>
</template>

<script>
import BurnBody from "@/components/Burn/BurnBody";

export default {
  name: "BurnPage",
  component: {
    BurnBody
  },
  head: {
    title: "Burn"
  }
};
</script>

<style></style>
