<template>
  <v-row justify="center" align="center">
    <dashboard-home />
  </v-row>
</template>

<script>
import DashboardHome from "@/components/DashboardHome";
export default {
  name: "IndexPage",
  components: {
    DashboardHome
  },
  middleware({ redirect }) {
    return redirect("/trade");
  }
};
</script>
