<template lang="html">
  <v-row style="max-width: 1185px" class="mx-auto">
    <v-card
      flat
      rounded="lg"
      class="mx-auto card-dimention"
      justify="center"
      align="center"
    >
      <v-toolbar flat color="transparent" class="toolbar_default">
        <v-toolbar-title>ASSETS TO SUPPLY</v-toolbar-title>
      </v-toolbar>

      <AssetsToSupply />
    </v-card>
    <v-card
      flat
      rounded="lg"
      class="mx-auto card-dimention"
      justify="center"
      align="center"
    >
      <v-toolbar flat color="transparent" class="toolbar_default">
        <v-toolbar-title>ASEETS TO BORROW</v-toolbar-title>
      </v-toolbar>

      <AssetsToBorrow />
    </v-card>
  </v-row>
</template>

<script>
import AssetsToSupply from "@/components/Loan/AssetsToSupply.vue";
import AssetsToBorrow from "@/components/Loan/AssetsToBorrow.vue";

export default {
  name: "LoanPage",
  components: {
    AssetsToSupply,
    AssetsToBorrow
  },

  head: {
    title: "Loan"
  }
};
</script>
