<template lang="html">
  <div>
    <div>
      <v-tabs-items
        v-model="trade_tab"
        class="transparent-background"
        align="center"
      >
        <v-tab-item v-for="tab_name in tab_names" :key="tab_name">
          <TradeBody :trade-functionality="tab_name" />
        </v-tab-item>
      </v-tabs-items>
    </div>

    <div class="trade-tab-position">
      <v-tabs
        v-model="trade_tab"
        hide-slider
        centered
        background-color="transparent"
        color="#041a2f"
        height="46px"
        grow
      >
        <v-tab v-for="tab_name in tab_names" :key="tab_name" class="rounded-lg">
          {{ tab_name }}
        </v-tab>
      </v-tabs>
    </div>
  </div>
</template>

<script>
import TradeBody from "@/components/Trade/TradeBody";

export default {
  name: "TradePage",
  components: {
    TradeBody
  },
  data() {
    return {
      trade_tab: null,
      tab_names: ["Issue", "Swap", "Redeem"]
    };
  },
  head: {
    title: "Trade"
  }
};
</script>

<style scoped>
.v-tab {
  border: solid;
  border-color: #041a2f;
  margin-left: 7.5px;
  margin-right: 7.5px;
  font-size: 16px;
  background-color: #fff;
}
.v-slide-group__wrapper {
  height: fit-content !important;
}
.v-tab--active {
  background-color: #537a5a;
  color: #f2f2f2;
}
.v-tab:before {
  border-radius: 9999px;
  background-color: green;
}
</style>
