<!-- Navigation bar for the app -->
<template lang="html">
  <v-app-bar
    :height="$vuetify.breakpoint.mobile ? '60px' : '100px'"
    app
    elevation="2"
  >
    <v-col>
      <nuxt-link to="/">
        <img :src="require('@/assets/images/spendie_logo.png')" :alt="title" />
      </nuxt-link>
    </v-col>

    <!-- Navigation bar for Desktop -->
    <v-col class="hidden-sm-and-down">
      <v-tabs optional centered background-color="transparent" grow>
        <v-tabs-slider />
        <v-tab
          v-for="(page, index) in pages"
          :key="index"
          :to="page.link"
          :data-test="page.title"
          nuxt
        >
          {{ page.title }}
        </v-tab>
      </v-tabs>
    </v-col>

    <v-col align="right" class="hidden-sm-and-down">
      <div class="green-dot"></div>
      <v-icon color="#041a2f" size="30px">mdi-wallet-outline</v-icon>
      <div style="display: inline-block; padding: 0px; width: 160px">
        <ConnectWallet
          class="rounded-pill"
          style="font-size: 12px; margin-left: 3.3px"
        />
      </div>
    </v-col>

    <!-- Navigation bar for Mobile  -->
    <v-col align="right" class="hidden-md-and-up">
      <v-menu offset-y>
        <template #activator="{ on, attrs }">
          <v-app-bar-nav-icon
            color="#041a2f"
            v-bind="attrs"
            v-on="on"
          ></v-app-bar-nav-icon>
        </template>
        <v-list>
          <v-list-item
            v-for="(page, index) in pages"
            :key="index"
            :to="page.link"
            nuxt
          >
            <v-list-item-title>
              {{ page.title }}
            </v-list-item-title>
          </v-list-item>

          <v-list-item>
            <ConnectWallet />
          </v-list-item>
        </v-list>
      </v-menu>
    </v-col>
  </v-app-bar>
</template>

<script>
import ConnectWallet from "@/components/ConnectWallet.vue";

export default {
  name: "DappHeader",
  components: {
    ConnectWallet
  },
  data() {
    return {
      title: "Spendie",
      pages: [
        { title: "TRADE", link: "/trade" },
        { title: "LOANS", link: "/loan" },
        { title: "BURN", link: "/burn" }
      ]
    };
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
}

.green-dot {
  height: 16px;
  width: 14.22px;
  border-radius: 36px;
  background-color: #537a5a;
  display: inline-block;
  position: absolute;
}
.v-tabs {
  min-width: 400px;
}

.v-tab {
  font-size: 16px;
  letter-spacing: 1.6px;
  min-width: 100px;
  min-height: 15px;
  margin-left: 20px;
}

.v-tab--active {
  color: #537a5a !important;
}
.v-tabs-slider {
  background-color: #537a5a !important;
  width: 50%;
  margin: auto;
  margin-top: -7px !important;
}
</style>
