<!-- Input field responsible for spAUD value -->
<template lang="html">
  <div>
    <v-card flat class="rounded-lg border">
      <!-- From (spAUD input here)-->

      <v-card-actions class="input-card-actions">
        <v-text-field
          v-model.number="numberValue"
          class="input-position"
          data-test="stablecoinsInput"
          align="left"
          name="spAUD"
          placeholder="0.0"
          label="To"
          color="#041a2f"
          type="number"
          :rules="priceRules"
          min="0"
          onkeydown="return event.keyCode !== 69 && event.keyCode !== 189"
          @input="emitSpAUDValue"
        ></v-text-field>

        <!-- stabletoin token is selectable-->
        <div>
          <v-dialog
            v-model="dialog"
            max-width="358px"
            data-test="stablecoinModal"
          >
            <template #activator="{ on, attrs }">
              <v-btn
                rounded
                class="token-btn btn-border"
                align="left"
                outlined
                v-bind="attrs"
                v-on="on"
                @click.stop="dialog = true"
              >
                <v-row align="center">
                  <v-col md="auto" style="padding: 0px">
                    <v-avatar size="20">
                      <img
                        :src="require('@/assets/images/spAUDicon.png')"
                        alt="spAUD"
                      />
                    </v-avatar>
                  </v-col>
                  <v-col style="padding: 0px">
                    {{ selectedToken }}
                  </v-col>
                </v-row>
              </v-btn>
            </template>

            <!-- this the dialog pops up to select the tokens -->
            <v-card flat rounded="lg" class="mx-auto">
              <v-card-title>
                Select a stablecoin
                <v-spacer></v-spacer>
                <v-btn icon data-test="closeModal" @click="dialog = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-card-title>
              <v-divider></v-divider>

              <!-- # `search` function in `selecting token`
          ## [Data iterators](https://vuetifyjs.com/en/components/data-iterators/)
          ### Misc -->
              <v-data-table
                :headers="stablecoinHeaders"
                :items="items"
                :hide-default-footer="true"
                :sort-by="items.tokenName"
                :search="search"
                :custom-filter="filterSearch"
                mobile-breakpoint="0"
                height=" 300px "
                data-test="stablecoinsList"
                @click:row="onClickToken"
              >
                <template #top>
                  <v-text-field
                    v-model="search"
                    label="Search "
                    clearable
                    color="#537a5a"
                    prepend-inner-icon="mdi-magnify"
                    class="mx-4"
                  ></v-text-field>
                </template>
                <template #[`item.tokenName`]="{ item }">
                  <v-row class="custom-row" align="center">
                    <v-avatar size="32">
                      <img
                        :src="require('@/assets/images/' + item.tokenSrc)"
                        :alt="item.tokenName"
                      />
                    </v-avatar>
                    <div class="token-name">{{ item.tokenName }}</div>
                  </v-row>
                </template>
              </v-data-table>
            </v-card>
          </v-dialog>
          <div class="balance">BALANCE: 0</div>
        </div>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "SpAUDinputPanel",
  props: { spAUD: { type: Number, default: null } },
  data() {
    return {
      numberValue: null,
      priceRules: [
        (v) => !!v || "Input is required",
        (v) => (v && v > 0) || "Input must be positive"
      ],
      selectedToken: "spAUD",
      dialog: false,
      search: "", // ## [Data iterators](https://vuetifyjs.com/en/components/data-iterators/)

      stablecoinHeaders: [
        {
          text: "Stablecoins",
          align: "start",
          sortable: true,
          value: "tokenName"
        }
      ],
      items: [],
      selected: null,
      selectedTokenValue: "spAUD"
    };
  },
  watch: {
    spAUD(newVal) {
      // update input field when switch button is clicked
      this.numberValue = newVal;
    }
  },
  created() {
    // fetch API here
    this.items = require("@/assets/dummyJSON/stablecoins.json");
    this.numberValue = this.spAUD;
  },
  methods: {
    emitSpAUDValue() {
      this.$emit("EventspAUDInputChanged", this.numberValue);
    },
    filterSearch(value, search) {
      const searchLower = search.toLocaleLowerCase();
      return (
        value != null &&
        search != null &&
        typeof value === "string" &&
        value.toString().toLocaleLowerCase().indexOf(searchLower) !== -1
      );
    },
    onClickToken(data) {
      this.dialog = false;
      this.selectedToken = data.tokenName;
    }
  }
};
</script>
