<!-- Input field responsible for token value -->

<template lang="html">
  <div>
    <v-card flat class="rounded-lg border">
      <!-- From (token input here)-->

      <v-card-actions class="input-card-actions">
        <v-text-field
          v-model.number="numberValue"
          class="input-position"
          data-test="tokenInput"
          align="left"
          name="tokenValue"
          placeholder="0.0"
          label="From"
          color="#041a2f"
          type="number"
          :rules="priceRules"
          min="0"
          onkeydown="return event.keyCode !== 69 && event.keyCode !== 189"
          @input="emitTokenValue"
        ></v-text-field>

        <!--  token is selectable -->
        <div>
          <v-dialog v-model="dialog" max-width="358px" data-test="tokenModal">
            <template #activator="{ on, attrs }">
              <v-btn
                rounded
                class="token-btn btn-border"
                align="left"
                outlined
                v-bind="attrs"
                v-on="on"
                @click.stop="dialog = true"
              >
                <v-row align="center">
                  <v-col md="auto" style="padding: 0px">
                    <v-avatar size="20">
                      <img
                        :src="require('@/assets/images/' + selectedTokenSrc)"
                        :alt="selectedToken"
                      />
                    </v-avatar>
                  </v-col>
                  <v-col style="padding: 0px">
                    {{ selectedToken }}
                  </v-col>
                </v-row>
              </v-btn>
            </template>

            <!-- the dialog pops up to select the token -->
            <v-card flat rounded="lg" class="mx-auto">
              <v-card-title>
                Select a token
                <v-spacer></v-spacer>
                <v-btn icon data-test="closeModal" @click="dialog = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-card-title>
              <v-divider></v-divider>

              <!-- # `search` function in `selecting token`
          ## [Data iterators](https://vuetifyjs.com/en/components/data-iterators/)
          ### Misc -->

              <v-data-table
                :headers="tokenHeaders"
                :items="items"
                :hide-default-footer="true"
                :sort-by="items.tokenName"
                :search="search"
                :custom-filter="filterSearch"
                mobile-breakpoint="0"
                height="300px"
                data-test="tokensList"
                @click:row="onClickToken"
              >
                <template #top>
                  <v-text-field
                    v-model="search"
                    label="Search "
                    clearable
                    color="#537a5a"
                    prepend-inner-icon="mdi-magnify"
                    class="mx-4"
                  ></v-text-field>
                </template>
                <template #[`item.tokenName`]="{ item }">
                  <v-row class="custom-row" align="center">
                    <v-avatar size="32">
                      <img
                        :src="require('@/assets/images/' + item.tokenSrc)"
                        :alt="item.tokenName"
                      />
                    </v-avatar>
                    <div class="token-name">{{ item.tokenName }}</div>
                  </v-row>
                </template>
              </v-data-table>
            </v-card>
          </v-dialog>
          <div class="balance">BALANCE: 0</div>
        </div>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "TokeninputPanel",
  props: { tokenValue: { type: Number, default: null } },
  data() {
    return {
      selectedToken: "",
      selectedTokenSrc: "",
      dialog: false,
      numberValue: null,
      priceRules: [
        (v) => !!v || "Input is required",
        (v) => (v && v > 0) || "Input must be positive"
      ],

      right: null, // # `search` function in `selecting token`

      search: "", // ## [Data iterators](https://vuetifyjs.com/en/components/data-iterators/)
      filter: {}, // ### Misc
      sortDesc: false,
      sortBy: "name", // tofix: solve 'items' refactor to  'tokens' (220501)
      tokenHeaders: [
        {
          text: "Tokens",
          align: "start",
          sortable: true,
          value: "tokenName"
        }
      ],
      items: [],
      selected: null,
      selectedTokenValue: "eth"
    };
  },
  watch: {
    tokenValue(newVal) {
      // update input field when switch button is clicked
      this.numberValue = newVal;
    }
  },
  created() {
    // this is where you will fetch an API
    this.items = require("@/assets/dummyJSON/tokens.json");
    this.selectedToken = this.items[0].tokenCurrency;
    this.selectedTokenSrc = this.items[0].tokenSrc;
    this.numberValue = this.spAUDValue;
  },
  methods: {
    emitTokenValue() {
      this.$emit("EventTokenInputChanged", this.numberValue);
    },
    filterSearch(value, search) {
      const searchLower = search.toLocaleLowerCase();
      return (
        value != null &&
        search != null &&
        typeof value === "string" &&
        value.toString().toLocaleLowerCase().indexOf(searchLower) !== -1
      );
    },
    onClickToken(data) {
      this.dialog = false;
      this.selectedToken = data.tokenCurrency;
      this.selectedTokenSrc = data.tokenSrc;
    }
  }
};
</script>
