* {
  font-weight: 700 !important;
}

/* Trade and Burn page CSS*/
.transparent-background.v-tabs-items {
  background-color: transparent !important;
}

.trade-tab-position {
  max-width: 477px;
  margin-top: 15px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.card-dimention {
  margin-top: 57px;
  margin-right: 0px;
  margin-left: 0px;
  width: 514px;
  min-height: 463px;
}

/* Token/stablecoin Input CSS */

/* remove up and down arrow for numeric input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-row.row {
  margin: 5px !important;
}

.token-name {
  margin-left: 16px;
}

.balance {
  height: 7px;
  width: 70px;
  color: #bdbdbd;
  font-size: 10px;
  font-weight: 600 !important;
  position: absolute;
}

.border.v-card {
  border: solid;
  background-color: #f2f2f2 !important;
}

.input-card-actions.v-card__actions {
  padding: 0px;
  height: 81px;
}

.token-btn.v-btn {
  margin-right: 16px;
  width: 90px;
  background-color: #fff;
}

/* .v-text-field .v-input__control .v-input__slot {
  min-height: auto !important;
  display: flex !important;
  align-items: center !important;
} */

.input-position.v-text-field {
  margin-left: 30px;
}

/* .v-text-field.v-text-field--enclosed .v-text-field__details {
  padding-top: 0px;
  margin-bottom: 0px;
} */

.v-btn {
  text-transform: none;
}

/* Trade and Burn page input CSS */
.input-container {
  /* padding-right: 78px !important;*/
  padding-top: 17px !important;
  padding: 0px;
  max-width: 358px;
}

.switch-btn.v-btn {
  border-width: 2.5px;
}

/* Trade Details Dropdown CSS */
.details-dropdown.v-card {
  width: 514px;
  margin-top: 8px;
}

.details-dropdown-panel.v-expansion-panels {
  max-width: 446px;
}

/* Trade and Burn Container Body CSS */
.connect-wallet-card-position {
  margin-top: 34px;
  width: 218px;
}
.toolbar_default.v-toolbar {
  max-width: 446px;
  align-items: baseline;
  padding-top: 20px !important;
  padding-bottom: 0;
}

/* Confirm Button CSS */
.btn-border.v-btn {
  border: solid;
  border-width: 2px;
}

.confirm-btn.v-btn {
  height: 60px !important;
  font-size: 20px;
  display: inline-block !important;
}

/* Loan page CSS */
.no-top-margin.v-card {
  margin-top: 0px !important;
}

.loan-modal.v-card {
  margin-top: 30px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 30px;
  max-width: 471px !important;
}

.loan-modal-list.v-list-item,
.v-list-item__content,
.v-list-item__action {
  font-size: 12px;
  margin: 0px;
  font-weight: 400 !important;
  min-height: 10px !important;
}

.wallet-balance {
  font-size: 11px !important;
  margin-bottom: 0px !important;
}
.token-list {
  width: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.loan-table-header.v-data-table th {
  padding: 0px 5px !important;
}
.row-height-50.v-data-table td {
  height: 50px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  padding: 0px 5px !important;
}
.avatar-size.v-avatar {
  height: 24px !important;
  min-width: 26px !important;
  width: 24px !important;
  margin: 5px !important;
}
.token-table.container {
  padding: 5px 10px !important;
}
.limit-btn {
  margin-left: 12px;
  width: 45px;
}
@media only screen and (min-width: 600px) {
  .token-list {
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .row-height-50.v-data-table td {
    height: 74px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }
  .avatar-size.v-avatar {
    height: 38px !important;
    min-width: 38px !important;
    width: 38px !important;
  }
  .token-table.container {
    padding: 28px 28px 5px 28px !important;
  }
  .limit-btn {
    margin-left: 11.5px;
    width: 45px;
  }
}
.loan-container.v-container {
  padding: 20px !important;
}

.loan-modal-input.v-card__actions {
  max-width: 423px !important;
  padding: 0px;
  margin-left: auto;
}

.loan-modal-input.v-text-field {
  margin: 10px 20px 0px 20px;
  max-width: 298px;
}

.no-underline.v-text-field > .v-input__control > .v-input__slot:before,
.v-input__slot:after {
  border-style: none !important;
}
