// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: "Helvetica", sans-serif;

$material-light: (
  "app-bar": #fff,
  "background": #f2f2f2,
  "text": (
    "primary": #041a2f
  ),
  "tabs": #041a2f
);

$border-radius-root: 7px;
