<template>
  <v-app class="app red--text">
    <DappHeader />
    <v-main>
      <v-container>
        <Nuxt :user_connected="true" />
      </v-container>
    </v-main>

    <v-footer app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import DappHeader from "@/components/DappHeader.vue";
export default {
  name: "DefaultLayout",
  components: {
    DappHeader
  },
  data() {
    return {
      user_connected: true
    };
  }
};
</script>

<style src="@/assets/customDesign.css"></style>
